.tags {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
    margin: 0;
  }
  .listGroup {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .tags {
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5em;
  }

  .addButton,
  .removeButton {
    padding: 0.5em;
    font-size: 1rem;
  }
}