body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

textarea {
  border: 1px solid blue;
  border-radius: 5px;
  min-height: 200px;
  margin-bottom: 1em;
  padding: 1em;
  resize: vertical;
}
